.about {
    padding: 0 0 80px;
}

.about__inner {
    box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.1);
    border-radius: 37px;
    padding: 60px 135px 1px;
    margin: 0 auto;

    .secttitle {
        margin-bottom: 50px;
    }

    h2 {
        color: #212121;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 33px;
        line-height: 140%;
    }

    h3 {
        color: #4F4F4F;
        line-height: 160%;
        font-size: 25px;
        margin-bottom: 25px;
    }

    h4 {
        color: #4F4F4F;
        margin-bottom: 23px;
        font-size: 20px;
        line-height: 160%;
    }

    b {
        font-weight: 600;
    }

    p {
        font-size: 17px;
        padding-bottom: 20px;
        line-height: 160%;
        color: #4F4F4F;
    }

    a {
        text-decoration: underline !important;
        color: #F06427;
        line-height: 160%;
        font-size: 17px;
        transition: .3s;

        &:hover {
            opacity: 0.7;
        }
    }

    ul {
        padding-left: 25px;
        margin-bottom: 40px;

        li {
            color: #4F4F4F;
            line-height: 160%;
            font-size: 17px;
            padding-left: 10px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 12px;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #4F4F4F;
            }
        }
    }

    ol {
        margin-bottom: 60px;
        padding-left: 20px;

        li {
            list-style: number;
            margin-bottom: 20px;
            font-size: 17px;
            line-height: 160%;
            color: #4F4F4F;

            &::marker {
                font-weight: 600;
            }
        }
    }
}


// order-tour section -------------- //

.order-tour {
    margin-bottom: 140px;
}

.order-tour__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 91px 137px 91px 113px;
    border-radius: 20px;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 5%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, .3) 100%);
    }

    >img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-position: center;
        z-index: -1;
    }

    h3 {
        color: #fff;
        font-size: 40px;
        line-height: 140%;
        font-weight: 500;
    }

    a {
        background-color: #F06427;
        position: relative;
        border-radius: 30px;
        padding: 20px 74px 20px 30px;
        font-weight: 600;
        font-size: 17px;
        line-height: 100%;
        display: inline-flex;
        color: #fff;
        transition: .3s;

        &:after {
            content: '';
            background-image: url(../img/slider_order_icon.png);
            width: 54px;
            height: 54px;
            background-size: cover;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2px;
        }

        &:hover {
            animation: pulse 1.5s infinite;
        }
    }
}

// testimonials section ------------ //

.testimonials {
    padding: 0 0 130px;

    .secttitle {
        margin-bottom: 55px;
        text-align: center;
    }

    .swiper-slide {
        padding: 10px 0;
    }


    .swiper-pagination-bullet {
        border: 2px solid rgba(#878787, .85);

        &.swiper-pagination-bullet-active {
            background-color: rgba(#878787, .85);
        }
    }


}

.testimonials__slider {
    padding-bottom: 70px;
}

.testimonials__slide {
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// photos section ------------ //

.photos {
    margin-bottom: 140px;

    .secttitle {
        margin-bottom: 55px;
    }
}

.photos__inner {
    padding: 70px 50px 70px;
    background-color: #f4f4f4;
    border-radius: 20px;
}

.photos__slider {
    padding-bottom: 70px;

    .swiper-pagination-bullet {
        border: 2px solid rgba(#878787, .85);

        &.swiper-pagination-bullet-active {
            background-color: rgba(#878787, .85);
        }
    }
}

.photos__slide {
    height: 438px;

    img {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.contacts__row-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    .contacts__row {
        width: 70%;
        margin: 0;
    }
}

.contacts__social {
    display: flex;
    align-items: center;

    li {
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.09);
            border-radius: 5px;
            transition: .3s ease;

            &:hover {
                box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.29);
            }

            img {
                width: 27px;
                height: 27px;
                background-size: cover;
            }
        }
    }
}




//  ---=== ADAPTIVE === --- //
@media(max-width: 1399.8px) {
    .testimonials__slide {
        height: 270px;
    }

    .photos__inner {
        padding: 70px 50px 40px;
    }

    .photos__slide {
        height: 380px;
    }

    .about__inner {
        padding: 60px 80px 1px;
    }

    .order-tour__content {
        padding: 91px 100px 91px 80px
    }
}

@media(max-width: 1199.8px) {
    .photos__slide{
        height: 320px;
    }
    .contacts__row-wrap {
        flex-direction: column;
        align-items: start;

        .contacts__row {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .order-tour__content {
        flex-direction: column;
        align-items: start;

        h3 {
            margin-bottom: 30px;
        }
    }

    .about__inner {
        padding: 45px 40px 1px;
    }
}

@media(max-width: 991.8px) {
    .photos__slide{
        height: 370px;
    }
    .photos__inner {
        padding: 50px 20px 30px;
    }
    .testimonials {
        padding: 0 0 100px;
    }

    .order-tour {
        margin-bottom: 100px;
    }

    .about {
        padding: 0px 0px 60px;
    }

    .photos {
        margin-bottom: 100px;
    }

    .order-tour__content {
        padding: 70px 50px 70px 50px
    }

    .order-tour__content h3 {
        font-size: 30px;
    }

    .about__inner {
        padding: 45px 40px 1px;
    }
}

@media(max-width: 767.8px) {
    .testimonials__slide {
        height: 340px;
    }
    .photos__slide{
        height: 55vw;
    }
    .order-tour {
        margin-bottom: 80px;
    }
    .photos {
        margin-bottom: 80px;
    }
    .photos__inner {
        padding: 50px 15px 30px;
    }
    .testimonials {
        padding: 0 0 80px;
    }
    .order-tour__content>img {
        object-position: 60% 50%;
    }

    .about__inner {
        padding: 40px 35px 1px;
    }
}

@media(max-width: 575.8px) {
    .about__inner .secttitle {
        margin-bottom: 35px;
    }
    .testimonials {
        padding: 0px 0 60px;
    }
    .photos {
        margin-bottom: 60px;
    }
    .testimonials__slide {
        height: 65vw;
    }
    
    
    .photos__slide{
        height: 65vw;
    }
    .testimonials .secttitle {
        margin-bottom: 40px;
    }
    .about__inner p {
        font-size: 16px;
        padding-bottom: 15px;
    }


    .order-tour__content {
        padding: 60px 40px 60px 40px;

        h3 {
            margin-bottom: 25px;
            font-size: 22px;
        }
    }
}

@media(max-width: 424.8px) {
    .about__inner {
        padding: 30px 20px 1px;
    }
    .documents-box {
        margin-bottom: 20px;
    }
    .about__inner p {
        font-size: 14px;
    }

    .order-tour__content {
        padding: 50px 20px 50px 20px;

        a {
            width: 100%;
            padding: 20px 64px 20px 20px;
            font-size: 16px;
        }
    }
}