.footer {
    padding-bottom: 24px;
}

.footer__inner {
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 70px 85px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 37px;
    border-bottom: 1px solid #D9DBDF;
}

.footer__logo {
    a {
        display: block;
    }

    img {
        width: 116px;
        height: auto;
        background-size: cover;
    }
}

.footer__menu {
    display: flex;

    h4 {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 600;
        line-height: 100%;
        color: #C2C2C2;
        text-transform: uppercase;

    }
    ul{
        padding: 0;
        margin: 0;
    }

    li {
        display: block;
        margin-bottom: 20px;

        a {
            color: #212121;
            line-height: 120%;
            font-size: 15px;
            font-weight: 500;
            transition: .3s ease;

            &:hover {
                color: #F06427;
            }
        }
    }
}

.footer__menu-col+.footer__menu-col {
    margin-left: 180px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 0;
}

.footer__copy {
    p {
        color: #606060;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        padding-right: 15px;
    }
}

.footer__socials ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        margin-right: 18px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #F06427;
        transition: .3s ease;

        &:hover {
            filter: brightness(80%);
        }
    }

    img {
        max-width: 27px;
        height: 27px;
        background-size: cover;
    }
}


//  ---=== ADAPTIVE ===--- //

@media (max-width: 1399.8px) {
    .footer__inner {
        padding: 65px 75px 0;
    }

}

@media (max-width: 991.8px) {

    .footer__inner {
        padding: 65px 45px 0;
    }

    .footer__top {
        padding-bottom: 35px;
    }

    .footer__menu-col+.footer__menu-col {
        margin-left: 100px;
    }

    .footer__socials ul a {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 767.8px) {
    .footer__menu-col+.footer__menu-col {
        margin-left: 40px;
    }
    .footer__logo img {
        width: 95px;
    }
    .footer__inner {
        padding: 50px 35px 0;
    }
    .footer__bottom {
        padding: 30px 0;
    }
    
}

@media (max-width: 575.8px) {
    .footer__top{
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    .footer__menu{
        width: 100%;
        justify-content: space-between;
    }
    .footer__bottom{
        flex-wrap: wrap;
    }
    .footer__socials{
        order: -1;
        margin-bottom: 20px;
    }
}

@media (max-width: 374.8px) {
    .footer__logo {
        margin-bottom: 35px;
    }
    .footer__inner {
        padding: 45px 25px 0;
    }

    .footer__menu li {
        margin-bottom: 15px;
    }
}