//  ---=== start slider section ===----- //

.heroscreen {
    margin-bottom: 80px;

}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .85);
    width: 10px;
    height: 10px;
    transition: .3s;

    &.swiper-pagination-bullet-active {
        background-color: rgba(255, 255, 255, .85);
    }

}


.heroscreen__slide {
    height: 665px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 55px;

    &:after {
        content: '';
        background-color: #000;
        opacity: 0.34;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.heroscreen__slide-content {
    position: relative;
    z-index: 2;
}

.slide-title {
    color: #fff;
    display: inline-block;
    text-shadow: none;
    margin-bottom: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 500;
    line-height: 140%;
}

.slide-text {
    max-width: 480px;
    width: 100%;

    p {
        color: #fff;
        line-height: 130%;
        font-size: 17px;
    }

    a {
        margin-top: 45px;
        background-color: #F06427;
        position: relative;
        border-radius: 30px;
        padding: 20px 86px 20px 50px;
        font-weight: 600;
        font-size: 17px;
        line-height: 100%;
        display: inline-flex;
        color: #fff;
        transition: .3s;

        &:after {
            content: '';
            background-image: url(../img/slider_order_icon.png);
            width: 54px;
            height: 54px;
            background-size: cover;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2px;
        }

        &:hover {
            animation: pulse 1.5s infinite;
        }
    }
}

//  ---=== end slider section ===----- //





// promotion__inner section ------------- //
.promotion {
    background-color: #fff;
    margin-bottom: 140px;
}

.promotion__title {
    text-align: center;

    h2 {
        color: #212121;
        line-height: 140%;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
    }
}



.promotion__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.promotion__item {
    width: calc(25% - 15px);
    border-radius: 20px;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
    min-height: 320px;
    transition: .3s ease;
    border: 1px solid transparent;

    &:hover {
        border-color: #F06427;
        filter: brightness(96%);
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        img {
            width: calc(100% + 2px);
            transform: translate(-1px, -2px);
            height: 196px;
            object-fit: cover;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 15px;
        }

        h3 {
            color: #212121;
            line-height: 140%;
            font-size: 18px;
            font-weight: 500;
            padding: 0 15px;
        }

    }

    .discount {
        position: absolute;
        width: 65px;
        height: 65px;
        top: 9px;
        left: 9px;
        background-image: url(../img/promotion_icon.png);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 19px;
        line-height: 140%;
        font-weight: 600;
    }

    .promotion__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0 15px;

        p {
            color: #606060;
            line-height: 140%;
            font-size: 14px;
        }

        span {
            background-color: #F2E9CF;
            color: #F1996A;
            font-size: 14px;
            font-weight: 500;
            border-radius: 10px;
            padding: 3px 9px;

            b {
                color: #F06427;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}








//  ---=== start  secttour === --- //

.secttour {
    margin-bottom: 140px;
    &:nth-of-type(even) {
        .secttour__content {
            padding-left: 0px;
        }
    }
}

.secttour__content {
    padding-left: 50px;
    max-width: 600px;
    width: 100%;

    h2 {
        margin-bottom: 40px;
        color: #212121;
        font-weight: 500;
        font-size: 40px;
        line-height: 140%;
    }

    p {
        font-size: 17px;
        line-height: 150%;
        color: #787878;
        max-width: 550px;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        border-radius: 30px;
        color: #fff;
        background-color: #F06427;
        font-weight: 600;
        font-size: 17px;
        line-height: 100%;
        padding: 19px 62px;
        transition: .3s ease;
        margin-top: 50px;

        &:hover {
            animation: pulse 1.5s infinite;
        }
    }
}

.secttour-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0;

    li {
        display: flex;
        align-items: center;

        span {
            margin-left: 25px;
            color: #212121;
            line-height: 140%;
            font-size: 18px;
            font-weight: 500;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 71px;
            width: 71px;
            border-radius: 5px;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.09);

            img {
                max-width: 35px;
                width: 100%;
                background-size: cover;
            }
        }
    }
}

.secttour__img {
    border-radius: 20px;
    height: 532px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}



//  ---=== end  secttour   === --- //




//  ---=== start camps   === --- //
.camps {
    margin-bottom: 120px;
}

.camps__wrapper {
    padding: 70px 55px 90px;
    border-radius: 20px;
    background-color: #F4F4F4;

    h2 {
        margin-bottom: 60px;
        color: #212121;
        font-weight: 500;
        font-size: 40px;
        line-height: 140%;
        text-align: center;
    }
}

.camps__inner {
    display: flex;
    justify-content: center;
}

.camps__box {
    overflow: hidden;
    border-radius: 20px;
    max-width: 630px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.09);

    &+.camps__box {
        margin-left: 64px;
    }

    a,
    p {
        display: none;
    }

    .image {
        height: 140px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: '';
            position: absolute;
            background-color: rgba(#000, .35);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        h3 {
            line-height: 140%;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
            position: relative;
            z-index: 2;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    table {
        width: 100% !important;

        tr {
            background-color: #fff;
            padding: 0 30px;

            &:nth-child(odd) {
                background-color: #FDF9EA;
            }
        }

        td {
            padding: 20px 0;

            &:nth-child(1) {
                width: 46%;
                padding-left: 30px;
            }

            &:nth-child(2) {
                padding-right: 35px;
                text-align: right;
            }
        }

        a {
            color: #787878;
            line-height: 140%;
            font-weight: 500;
            font-size: 22px;
            transition: .3s ease;
            display: block;

            &:hover {
                color: #F06427;
            }
        }

        p {
            font-size: 22px;
            color: #585858;
            line-height: 140%;
            font-weight: 500;
            display: block;
        }
    }
}


//  ---=== end  camps   === --- //


//  ---=== start excursions   === --- //

.excursions {
    margin-bottom: 120px;
}

.excursions__inner {
    position: relative;
    padding: 107px 90px;
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#000, .5);
    }

    h2 {
        color: #fff;
        font-weight: 500;
        font-size: 40px;
        line-height: 140%;
        margin-bottom: 25px;
        max-width: 470px;
    }

    p {
        font-size: 17px;
        color: #fff;
        line-height: 150%;
        margin-bottom: 45px;
        max-width: 470px;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        border-radius: 30px;
        color: #fff;
        background-color: #F06427;
        font-weight: 600;
        font-size: 17px;
        line-height: 100%;
        padding: 19px 62px;
        transition: .3s ease;

        &:hover {
            animation: pulse 1.5s infinite;
        }
    }
}



//  ---=== end excursions   === --- //


//  ---=== start contact   === --- //

.contacts {
    margin-bottom: 100px;

    h2 {
        margin-bottom: 70px;
        color: #212121;
        font-weight: 500;
        font-size: 40px;
        line-height: 140%;
        text-align: center;
    }
}

.contacts__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1235px;
    margin: 0 auto 30px;
    padding: 0;

    li {
        display: flex;
        align-items: center;

        .icon {
            width: 45px;
            height: 45px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.09);
            margin-right: 20px;

            img {
                width: 25px;
                height: 25px;
                background-size: cover;
            }
        }

        .info {
            span {
                display: block;
                color: rgba(0, 0, 0, .55);
                line-height: 130%;
                font-weight: 500;
                font-size: 16px;
            }

            a {
                color: #000000;
                line-height: 130%;
                font-weight: 500;
                font-size: 16px;
                transition: .3s ease;

                &:hover {
                    color: #F06427;
                }

                img {
                    display: none;
                }
            }
        }
    }
}

.contacts__map {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 450px;

    iframe,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        outline: none;
        border: none;
    }

    .moduletable,
    .custom,
    .custom>p {
        height: 100%;
    }
}

//  ---=== end contact   === --- //




//  ---=== ADAPTIVE === --- //

@media(max-width: 1599.8px) {
    .secttour__img {
        height: 480px;
    }

}

@media(max-width: 1399.8px) {
    .heroscreen__slide {
        height: 500px;

        .slide-title {
            font-size: 42px;
        }
    }


    .camps__box+.camps__box {
        margin-left: 35px;
    }

    .camps__box table td:first-child {
        width: 43%;
    }

    .camps__box table a {
        font-size: 20px;
    }

    .camps__box table p {
        font-size: 20px;
    }

    .camps__wrapper {
        padding: 60px 40px 70px;
    }

    .secttour__content {
        padding-left: 25px;
    }

    .secttour__img {
        height: 420px;
    }

    .promotion__item {
        width: calc(33% - 13px);
    }
}

@media(max-width: 1199.8px) {

    .promotion__item a img {
        height: 175px;
    }

    .heroscreen__slide {
        height: 420px;

        .slide-title {
            font-size: 36px;
            margin-bottom: 20px;
        }
    }

    .contacts__map {
        height: 400px;
    }

    .contacts h2 {
        margin-bottom: 60px;
        font-size: 36px;
    }


    .excursions__inner {
        padding: 70px 70px;
    }

    .camps__box+.camps__box {
        margin-left: 20px;
    }

    .camps__wrapper h2 {
        margin-bottom: 45px;
        font-size: 36px;
    }

    .camps__wrapper {
        padding: 45px 25px 50px;
    }

    .camps__box table p {
        font-size: 18px;
    }

    .camps__box table a {
        font-size: 18px;
    }

    .secttour__img {
        height: 380px;
    }

    .secttour__content {
        padding-left: 10px;
    }

    .secttour__content a {
        margin-top: 40px;
    }

    .secttour__content h2 {
        margin-bottom: 30px;
        font-size: 36px;
    }

    .secttour-row {
        margin-bottom: 30px;
    }

    .secttour-row li .icon {
        height: 60px;
        width: 60px;
    }

    .secttour-row li span {
        margin-left: 18px;
        font-size: 16px;
    }

    .secttour-row li .icon img {
        max-width: 28px;
    }

    .excursions,
    .camps,
    .secttour,
    .promotion {
        margin-bottom: 100px
    }


    .heroscreen__slide .slide-text p {
        font-size: 16px;
    }

    .heroscreen__slide .slide-text a {
        margin-top: 35px;
    }
}

@media(max-width: 991.8px) {

    .promotion__item {
        width: calc(50% - 10px);
        height: 300px;
    }

    .heroscreen__slide {
        padding: 0 35px;

        .slide-title {
            font-size: 32px;
        }
    }


    .contacts__map {
        height: 350px;
    }

    .contacts__row li .icon {
        width: 38px;
        height: 38px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .contacts__row li .info span {
        font-size: 14px;
    }

    .contacts__row li .info a {
        font-size: 14px;
    }

    .excursions__inner {
        padding: 50px 45px;
    }

    .excursions__inner:after {
        background-color: rgba(0, 0, 0, 0.65);
    }

    .excursions__inner h2 {
        font-size: 36px;
    }

    .camps__inner {
        flex-wrap: wrap;
    }

    .camps__box {
        max-width: 550px;

        &+.camps__box {
            margin: 40px 0 0;
        }
    }

    .secttour__content {
        max-width: 600px;
        margin-bottom: 50px;

        p {
            font-size: 16px;
            max-width: 100%;
        }
    }

    .secttour__img {
        height: 350px;
    }


    .heroscreen__slide .slide-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .heroscreen__slide .slide-text p {
        font-size: 14px;
    }

    .heroscreen__slide .slide-text a {
        margin-top: 35px;
        padding: 14px 70px 14px 40px;
        font-size: 16px;

        &:after {
            width: 40px;
            height: 40px;
        }
    }
}

@media(max-width: 767.8px) {
    .promotion__item a img {
        height: 200px;
    }

    .contacts h2 {
        margin-bottom: 50px;
    }

    .contacts__row li {
        width: 100%;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .excursions__inner p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .camps,
    .excursions,
    .promotion,
    .secttour {
        margin-bottom: 80px;
    }

    .secttour__img {
        height: 300px;
    }

    .promotion__inner {
        justify-content: center;
    }

    .promotion__item {
        max-width: 420px;
        width: 100%;
        min-height: 320px;
        height: auto;
        padding-bottom: 30px;
    }

    .promotion__title h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .heroscreen__slide .slide-text {
        width: 100%;
    }


    .heroscreen__slide .slide-title {
        font-size: 28px;
    }

    .heroscreen__slide .slide-text a {
        margin-top: 20px;
    }

}

@media(max-width: 575.8px) {
    .heroscreen__slide {
        height: 360px;
    }

    .contacts__map {
        height: 60vw;
    }

    .contacts {
        margin-bottom: 80px;
    }

    .contacts h2 {
        margin-bottom: 45px;
        font-size: 28px;
    }

    .excursions__inner h2 {
        font-size: 28px;
    }

    .excursions__inner {
        padding: 45px 35px;
    }

    .excursions__inner img {
        object-position: 65% 0%;
    }

    .excursions__inner a {
        width: 100%;
        height: 54px;
        padding: 10px;
    }

    .camps__box .image {
        height: 110px;
    }

    .camps__wrapper h2 {
        margin-bottom: 32px;
        font-size: 28px;
    }

    .camps__box .image h3 {
        font-size: 28px;
    }

    .camps__box table {

        a,
        p {
            font-size: 16px;
        }
    }

    .camps__box table td {
        padding: 16px 0;
    }

    .camps__box table td:first-child {
        width: 40%;
        padding-left: 22px;
    }

    .camps__box table td:nth-child(2) {
        padding-right: 22px;
    }

    .secttour-row li span {
        margin-left: 13px;
        font-size: 14px;
    }

    .secttour-row li .icon {
        height: 50px;
        width: 50px;
    }

    .secttour-row li .icon img {
        max-width: 20px;
    }

    .secttour-row {
        width: 95%;
    }

    .secttour__img {
        height: 55vw;
    }

    .secttour__content a {
        width: 100%;
        height: 54px;
    }

    .secttour__content h2 {
        margin-bottom: 24px;
        font-size: 28px;
    }

    .heroscreen__slide .slide-title {
        font-size: 22px;
    }
}

@media(max-width: 424.8px) {

    .promotion__item a img {
        height: 55vw;
    }

    .heroscreen__slide {
        height: 350px;
        padding: 0 25px;
    }

    .contacts {
        margin-bottom: 60px;
    }

    .excursions__inner {
        padding: 35px 20px;
    }

    .excursions__inner h2 {
        font-size: 24px;
    }

    .excursions__inner p {
        font-size: 15px;
    }

    .camps__box table td:first-child {
        padding-left: 18px;
    }

    .camps__box table td:nth-child(2) {
        padding-right: 18px;
    }


    .camps__wrapper {
        padding: 30px 15px 30px;
    }

    .camps__box+.camps__box {
        margin: 25px 0 0;
    }

    .camps__box .image {
        height: 80px;
    }

    .camps__box table a,
    .camps__box table p {
        font-size: 11px;
    }

    .camps__box .image h3 {
        font-size: 22px;
    }

    .camps__box table td {
        padding: 11px 0;
    }


    .secttour-row li .icon {
        height: 38px;
        width: 38px;
    }

    .secttour-row li .icon img {
        max-width: 17px;
    }

    .secttour-row li span {
        margin-left: 10px;
        font-size: 11px;
    }

    .camps,
    .excursions,
    .promotion,
    .secttour {
        margin-bottom: 60px;
    }

    .secttour__content h2 {
        font-size: 26px;
    }
}