//  ---=== start pages-heroscreen section ===--- //
.pages-heroscreen {
    margin-bottom: 80px;
}

.pages-heroscreen__slide {
    height: 352px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px 55px;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h2 {
        font-weight: 500;
        font-size: 56px;
        color: #fff;
        line-height: 140%;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        font-family: "Montserrat Alternates", sans-serif;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .34);
    }
}

//  ---=== end pages-heroscreen section ===--- //

//  ---=== start tour-list section ===--- //

.tour-list {
    padding: 0 0 100px;
}

.tour-list__inner {
    .secttitle {
        margin-bottom: 70px;
    }

    table {
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 90px;
        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);

        tr:first-child {
            position: relative;
            background-image: url(../img/table_heroscreen.png);
            padding: 30px 0 33px;

            p {
                color: #fff;
                position: relative;
                z-index: 2;
                font-weight: 500;
                font-size: 20px;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .6);
            }

            td {
                padding-top: 30px;
                padding-bottom: 33px;
            }
        }

        .name {
            color: #F75709;
            margin-bottom: 9px;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            transition: .3s;
            display: block;

            &:hover {
                opacity: 0.7;
            }
        }

        .route {
            color: #212121;
            font-size: 15px;
            line-height: 130%;
        }

        .days {
            color: #212121;
            font-size: 18px;
            font-weight: 500;
            line-height: 130%;
        }

        .price {
            background-color: #F06427;
            padding: 3px 10px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 14px;
            display: inline-block;
            color: rgba(255, 255, 255, .6);
            white-space: nowrap;

            b {
                color: #fff;
                opacity: 1;
                font-size: 20px;
                margin-right: 5px;
                font-weight: 500;
            }
        }

        td {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        tr:nth-child(odd) {
            background-color: #FFF3C1;
        }

        tr+tr {
            border-top: 1px solid #FFA279;
        }

        td:nth-child(1) {
            width: 60%;
            padding-right: 15px;
            padding-left: 50px;
        }

        td:nth-child(2) {
            width: 20%;
            padding-right: 10px;
        }

        td:nth-child(3) {
            width: 20%;
            padding-right: 80px;
        }
    }
    .tour-info{
        padding-left: 40px;
        position: relative;
        &:before{
            content: '';
            background-image: url(../img/warning_icon.png);
            width: 25px;
            height: 25px;
            position: absolute;
            top: 0;
            left: 0;
        }
        p{
            color: #4F4F4F;
            font-size: 17px;
            line-height: 140%;
            padding-bottom: 5px;
            a{
                color: #F75709;
                transition: .3s;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}

//  ---=== start tour-list section ===--- //






//  ---=== ADAPTIVE === --- //


@media(max-width: 1399.8px) {
    .pages-heroscreen__slide h2 {
        font-size: 42px;
    }
}

@media(max-width: 1199.8px) {
    .tour-list__inner .secttitle {
        margin-bottom: 50px;
    }
    .pages-heroscreen__slide h2 {
        font-size: 36px;
    }

    .pages-heroscreen__slide {
        height: 300px;
    }
}

@media(max-width: 991.8px) {
    .tour-list__inner table {
        border-radius: 25px;
    }
    .tour-list__inner table td:first-child {
        padding-left: 30px;
        width: 65%;
    }

    .tour-list__inner table td:nth-child(2) {
        width: 15%;
    }

    .tour-list__inner table td:nth-child(3) {
        width: 20%;
        padding-right: 35px;
    }

    .pages-heroscreen__slide h2 {
        font-size: 32px;
    }

    .pages-heroscreen__slide {
        height: 270px;
    }
}

@media(max-width: 767.8px) {
    .tour-list__inner .secttitle {
        margin-bottom: 35px;
    }
    .tour-list__inner table td {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .tour-list__inner table tr:first-child td {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .tour-list__inner table tr:first-child p {
        font-size: 18px;
    }
    .tour-list__inner table .price b {
        font-size: 16px;
    }
    .tour-list__inner table td:first-child {
        padding-left: 20px;
    }
    .tour-list__inner table td:nth-child(3) {
        padding-right: 20px;
    }
    .pages-heroscreen__slide h2 {
        font-size: 28px;
    }

    .pages-heroscreen {
        margin-bottom: 60px;
    }
    .pages-heroscreen__slide {
        height: 240px;
    }
}

@media(max-width: 575.8px) {
    .tour-list {
        padding: 0 0 80px;
    }
    .tour-list__inner .tour-info p {
        font-size: 14px;
    }
    .tour-list__inner table {
        margin-bottom: 70px;
    }
    .tour-list__inner table .name {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .tour-list__inner table .days {
        font-size: 16px;
    }
    .tour-list__inner table .price b {
        font-size: 14px;
    }
    .tour-list__inner table tr:first-child p {
        font-size: 16px;
    }
    .tour-list__inner table td:first-child {
        padding-left: 15px;
        padding-right: 15px;
        width: 65%;
    }
    .tour-list__inner table td:nth-child(2) {
        width: 11%;
    }
    .tour-list__inner table td:nth-child(3) {
        padding-right: 15px;
        width: 24%;
    }
    .tour-list__inner table .route {
        font-size: 13px;
    }
    .pages-heroscreen__slide h2 {
        font-size: 22px;
    }

    .pages-heroscreen__slide {
        height: 200px;
        padding: 20px 40px;
    }
}

@media(max-width: 424.8px) {
    .tour-list__inner table .price {
        padding: 2px 7px;
        border-radius: 8px;
    }
    .tour-list__inner table tr:first-child p {
        font-size: 14px;
    }
    .tour-list__inner table td:first-child {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tour-list__inner table td:nth-child(2) {
        width: 10%;
    }
    .tour-list__inner table td:nth-child(3) {
        padding-right: 5px;
        width: 25%;
    }
    .pages-heroscreen__slide{
        height: 150px;
    }
}